/*---------FONTE---------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*------------VARIÁVEIS GLOBAIS------------------*/
:root {
    --cor-primaria: #;
    --cor-primaria-escura: #;
    --cor-bg: #f5f7fa;
    --cor-branco: #ffffff;
    --cor-borda: #ddd;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-texto: #333;

    --fonte: 'Roboto', sans-serif;

    --raio: 0.8rem;
    --transition: 0.3s ease;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------body----------*/
body {
    font-family: var(--fonte);
    background: #eec0c8;
background: radial-gradient(circle, rgb(241, 112, 170) 0%, rgb(167, 196, 230) 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 20px;

}

.container {
    background: var(#FFC0CB);
    padding: clamp(2rem, 5vw, 3rem);
    border-radius: var(--raio);
    box-shadow: 0 8px 24px var(--cor-sombra);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/*------ logo------*/
#logo{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: var(--raio);
}
/*----titulo-----*/
.titulo{
    font-size: clamp(1.5rem, 2vw + 1rem, 2 rem);
    color: var(--cor-texto);
    margin-bottom: 1.5rem;
    font-weight: 500;
}
input{
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid  var(--cor-borda);
    border-radius: var(--raio);
    font-size: 1rem;
    transition: var(--transition);
}
input:focus{
    border-color: var(--cor-primaria);
    outline: none;
    box-shadow: 0 0 0 3px rgba(245, 110, 218, 0.74);
}
.botoes{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}
button{
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: var(--raio);
    background-color: var(#eec0c8);
    transition: var(#d87093);
    cursor: pointer;

}

button:hover{
    background-color: var (#d87093);
}
@media (max-width: 360px) {
    .container{
        padding: 1.5rem;
    }
input, buttom{
    font-size: 0.95rem;
}
    
}